@import "./fonts.css";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color-main: #fefefe;
  --background-color-second: #f4f5f5;
  --font-family-main: "IBM Plex Sans";
  --font-family-second: "Stratos Deliveroo Web";
  --color-main: #2e3333;
  --color-second: #00ccbc;
  --color-third: #828585;
  --color-white: #fefefe;
  --container-width: 1120px;
  --border-color: #e8ebeb;
  --border-color-hover: #d1d1d1;
  --btn-border-radius: 5px;
  --box-shadow-focus: 0px 0px 0px 3px rgba(51, 214, 201, 0.3);
}

.fixedScreen {
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  outline: none;
}

svg:hover {
  cursor: pointer;
}

.container {
  padding: 0px 16px;
  max-width: var(--container-width);
  margin: 0 auto;
  height: 100%;
}

/******* BUTTON THEME *******/
.btn-header {
  padding: 8px 16px;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  margin: 16px 0px;
  font-size: 16px;
  color: var(--color-main);
  font-family: var(--font-family-main);
  border-radius: var(--btn-border-radius);
  background-color: var(--background-color-main);
  transition: all 0.3s;
}

.btn-header i {
  margin-right: 10px;
  color: var(--color-second);
}

.btn-header:hover {
  border-color: var(--border-color-hover);
  transition: all 0s;
}

.btn-header:focus {
  border-color: var(--color-second);
  box-shadow: var(--box-shadow-focus);
  transition: all 0.2s;
}

.btn-x {
  color: var(--color-second);
  border: none;
  font-size: 28px;
  margin: 15px 0px;
  outline: none;
  padding: 8px 0px;
  line-height: 24px;
  border-radius: var(--btn-border-radius);
  transition: all 0.3s;
}

.btn-x:focus,
.btn-active:focus {
  border-color: var(--color-second);
  box-shadow: var(--box-shadow-focus);
  transition: all 0.2s;
}

.btn-active,
.btn-inactive {
  text-align: center;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  line-height: 16px;
  border-radius: 2px;
  border: none;
  transition: all 0.2s;
}

.btn-active {
  color: white;
  background-color: #00ccbc;
}

.btn-inactive {
  color: #8c9b9b;
  background-color: #bac3c3;
}

/* HEADER */
header {
  border-bottom: solid 2px var(--border-color);
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

header img {
  height: 32px;
  margin-right: auto;
}

header div button:nth-of-type(2) {
  margin-left: 14px;
}

/******* POPUP MENU *******/
.popUpMenu {
  background-color: var(--background-color-main);
  margin-left: auto;
  height: 100vh;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.popUpMenu header button {
  color: var(--color-second);
}

.popUpMenu ul {
  margin: 10px 0px 0px 0px;
  padding: 0px 16px;
}

.popUpMenu ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: var(--color-main);
  font-family: var(--font-family-main);
  padding: 12px 0px;
  line-height: 22px;
}

.popUpMenu ul li div:nth-child(2) {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
}

.popUpMenu ul li:nth-child(-n + 2) div:nth-child(2) span:nth-child(1):hover {
  color: var(--color-second);
}

.popUpMenu ul li:nth-child(-n + 2) div:nth-child(2) span:nth-child(2) {
  color: var(--color-third);
  padding: 8px 0px 0px 0px;
  font-size: 14px;
  line-height: 19px;
}

.popUpMenu ul i {
  font-size: 20px;
  color: var(--border-color-hover);
}

.popUpMenu ul li:nth-child(3),
.popUpMenu ul li:nth-child(3) i {
  color: red;
}

.popUpMenu-select {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  margin-top: auto;
}

.popUpMenu-select select {
  background-color: var(--background-color-main);
  border: 1px solid var(--border-color);
  margin: 16px 0px;
  font-size: 16px;
  line-height: 22px;
  height: 50px;
  outline: none;
}

.popUpMenu-select select:focus {
  border: 1px solid var(--color-second);
  box-shadow: var(--box-shadow-focus);
}

.leftBlock {
  flex: 0 1 67%;
  max-width: 67%;
}

.rightBlock {
  flex: 0 0 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/********************************************/
/****************** RESTAURANT **************/
/********************************************/

.restaurant {
  padding: 20px 16px 20px 16px;
  display: flex;
  flex-direction: row;
}

.restaurant .rightBlock {
  height: 165px;
}

.restaurant div h2 {
  font-size: 28px;
  line-height: 28px;
  color: #2e3333;
  font-family: "Stratos Deliveroo Web";
  letter-spacing: -1px;
}

.restaurant div p {
  font-size: 14px;
  line-height: 19px;
  color: #828585;
}

.restaurant img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

/********************************************/
/****************** MENU ********************/
/********************************************/

.menuBlock {
  background-color: var(--background-color-second);
}

.menu {
  padding: 0px 16px 25px 16px;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-second);
}

/********************************************/
/****************** NAVIGATOR **************/
/********************************************/

nav {
  border-top: solid 1px #e7ebeb;
  background-color: var(--background-color-main);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigator {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
}

.navigator .leftBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigator .rightBlock {
  position: relative;
}

.navigator .shownTitles {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-family-main);
  font-weight: 500;
  flex: 0 1 100%;
  overflow: hidden;
}

.navigator .hiddenTitlesBlock {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  margin-right: 24px;
  flex: 0 0 167px;
  align-items: center;
  color: #00ccbc;
  font-size: 14px;
  line-height: 19px;
  position: relative;
}

.navigator .hiddenTitlesBlock span {
  padding-right: 10px;
}

.navigator .hiddenTitles-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 0;
  border-radius: 5px;
  border: 1px solid #bac3c3;
  overflow: hidden;
}

.hiddenTitles-element {
  text-decoration: none;
  background-color: var(--background-color-main);

  font-size: 16px;
  line-height: 16px;
  color: var(--color-main);
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}

.navigator .hiddenTitles-dropdown a:hover {
  background-color: #f5f7f9;
}

.navigator .hiddenTitles-dropdown span:last-child {
  border-bottom: none;
}

.nav-link {
  text-decoration: none;
  border-radius: 50px;
  padding: 4px 16px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  margin: 6px 0px;
  color: #00ccbc;
  background-color: var(--color-white);
  font-weight: 500;
}

.nav-selected {
  color: var(--color-white);
  background-color: #00ccbc;
  font-weight: 600;
}

/********************************************/
/****************** PANIER ******************/
/********************************************/

.basket {
  position: absolute;
  background-color: white;
  box-shadow: 0px 15px 15px 5px rgba(224, 224, 224, 0.5);
  top: 0;
  left: 0;
  width: 100%;
}
.basket-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.basket-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 22px;
  color: var(--color-third);
}

.basket-button {
  height: 50px;
  border-radius: 5px;
}

.basket-element {
  display: flex;
  flex-direction: row;
}

.basket ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  padding: 0;
}

.basket ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-main);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-main);
}

.basket ul li:last-child {
  padding: 16px 0px;
}

.basket ul li a {
  color: var(--color-second);
  text-decoration: none;
}

/**** BASKETMEALCARD *****/
.basket-mealcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.basket-mealcard:nth-child(n + 2) {
  margin-top: 25px;
}

.basket-mealcard .counter {
  flex: 0 0 60px;
  margin-right: 16px;
}

.basket-mealcard .counter span {
  color: var(--color-third);
}

.basket-mealcard > span:nth-child(2) {
  flex: 1 1 auto;
  text-align: left;
  margin-right: 8px;
}

.basket-mealcard > span:nth-child(3) {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

/* BEFORE TOTAL */
.basket-before-total {
  border-top: 1px solid var(--border-color);
}

.basket-before-total .basket-recipe-element:first-child {
  padding: 24px 0px 6px 0px;
}

.basket-before-total .basket-recipe-element:last-child {
  padding: 6px 0px 16px 0px;
}

/* TOTAL */
.basket-total {
  box-shadow: 0px -3px 6px -2px rgba(0, 0, 0, 0.07);
}

.basket-total .basket-recipe-element:first-child {
  padding: 24px 16px 6px 16px;
}
.basket-total .basket-recipe-element:last-child {
  font-weight: 600;
  padding: 6px 16px 16px 16px;
}

/**** BASKET RECIPE ELEMENT *****/
.basket-recipe-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-main);
  font-family: var(--font-family-main);
  font-size: 16px;
}

.basket-recipe-element span:nth-child(1) {
  margin-right: auto;
}

.basket-recipe-element .counter {
  margin-right: 20px;
}

.basket-recipe-element span:nth-child(3) {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.basket-recipe-element .counter span {
  margin: 0px 10px;
}

.basket-recipe-element a {
  color: var(--color-second);
  text-decoration: none;
  font-weight: 600;
  margin-left: 1ch;
}

/**** COUNTER *****/
.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.counter span {
  margin: 0;
  padding: 0;
  text-align: center;
}
/********* MEALS *********/
.meals {
  display: flex;
  flex-direction: column;
  padding: 0px 24px 0px 0px;
  flex: 1;
  min-width: 360px;
}

.meals > p {
  font-size: 28px;
  line-height: 28px;
  color: #2e3333;
  font-weight: 700;
  margin: 0;
  margin: 0px 0px 3px 0px;
  padding: 40px 0px 0px 0px;
  font-family: "Stratos Deliveroo Web";
}
.meals > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/******* PLATES **********/

.plate-container {
  background-color: white;
  width: 43%;
  display: flex;
  padding: 15px 15px;
  margin-top: 15px;
  box-shadow: 0;
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.plate-animation {
  position: absolute;
  left: 0;
  align-self: center;
  background-color: var(--color-second);
  height: 100%;
  width: 3px;
  transition: height 0.3s;
  --webkit-transition: height 0.3s;
}

.plate-animation-shrink {
  transition: height 0.3s;
  --webkit-transition: height 0.3s;
  height: 0;
}

.plate-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgba(224, 224, 224, 0.5);
  transition: box-shadow 0.3s;
}

.plate-description-div {
  width: 100%;
}
.plate-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #2e3333;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 5px;
}

.plate-basketQuantity {
  padding-right: 5px;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #828585;
}

.plate-description {
  font-size: 14px;
  line-height: 19px;
  color: #828585;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 40px;
}
.plate-price-popular-div {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.plate-price {
  font-size: 16px;
  line-height: 22px;
  color: #828585;
  margin: 0;
  padding: 0;
}
.plate-logo-div {
  display: flex;
  flex-direction: column;
}

.plate-container .plate-logo {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.plate-populaire {
  color: #ff8100;
  font-size: 12px;
  font-weight: 800;
  margin-left: 20px;
}

#star-logo {
  margin-right: 3px;
}

/* PopUpScreen */

.popUp-container {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: scroll;
}

.no-visibility {
  visibility: hidden;
}

.no-display {
  display: none;
}

.popUp-plate-container {
  background-color: white;
  width: 570px;
  z-index: 3;
  overflow: hidden;
  border-radius: 10px;
  margin: 15px 0px;
}

@keyframes moves-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moves-in2 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.moves-in1 {
  animation: moves-in 0.2s;
}

.moves-in2 {
  animation-name: moves-in2;
  animation-duration: 0.2s;
}

.popUp-plate-upper {
  padding: 30px 30px 0px 30px;
}

.popUp-plate-image {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.popUp-plate-title {
  margin: 20px 0px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 28px;
  color: #2e3333;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
}

.popUp-plate-description {
  margin: 0;
  font-size: 14px;
  line-height: 14apx;
  color: #828585;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.popUp-plate-lower {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 0px -1px 5px 2px rgba(224, 224, 224, 0.5);
}

.popUp-plate-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

/* PopUpScreen Button */
/* Button to select quantity */
.popUp-container svg {
  margin: 0px 60px;
}

svg:hover > g {
  fill: #008075;
}

.popUp-plate-quantity {
  margin: 0;
  padding: 0;
}
.popUp-quantity-button:hover {
  cursor: pointer;
}

.popUp-plate-purchase {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 110px;
  width: 100%;
  align-items: center;
  border-top: white 1px solid;
}

/* Button to cancel in popUpScreen */
.cancelButton {
  cursor: pointer;
  flex: 1;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #00ccbc;
  color: #00ccbc;
  transition: border 0.3s, color 0.3s;
  --webkit-transition: border 0.3s, color 0.3s;
}

.cancelButton:hover {
  color: #00e6d2;
  border: 1px solid #00e6d2;
  transition: border 0.3s, color 0.3s;
  --webkit-transition: border 0.3s, color 0.3s;
}

.cancelButton:focus {
  border: 2px solid #00ccbc;
}

/* Button that shows total purchase for one plate and confirm in popUpScreen */
.totalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin-left: 25px;
  height: 50px;
  border-radius: 3px;
  background-color: #00ccbc;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s;
  --webkit-transition: background-color 0.3s;
}

.totalButton:hover {
  cursor: pointer;
  background-color: #00e6d2;
  transition: background-color 0.3s;
  --webkit-transition: background-color 0.3s;
}

.totalButton:focus {
  cursor: pointer;
  background-color: #00e6d2;
  transition: background-color 0.3s;
  --webkit-transition: background-color 0.3s;
}


